@using Raft;
@using Raft.DTOs

@page "/"
@rendermode InteractiveServer

<PageTitle>DOCKER ONE</PageTitle>

<h3>Environment Variables</h3>

<strong>NODE_URLS:</strong>

@if(!Urls.Any())
{
    <div class="alert alert-danger">No urls...</div>
}

@SecretsString

@if(!nodeDict.Any())
{
    <div class="alert alert-danger">Error: no nodes</div>
}

<p>Parsed Strings</p>
@foreach (var str in Urls)
{
    <p>@str</p>
}



@* 
<div>
    <label for="speed">
        Election timeout between @(150 * Node.IntervalScalar) and @(300 *
        Node.IntervalScalar) ms.
        <br>
        <input type="range" id="speed" name="speed" min="1" max="100" @bind:event="oninput"
               @bind=Node.IntervalScalar @onchange=UpdateTimer /> @Node.IntervalScalar
    </label>
</div> *@

<div>
    <label for="NetworkRequestDelay">
        Network Delay @NetworkRequestDelay milliseconds
        <br>
        <input type="range" id="NetworkRequestDelay" name="NetworkRequestDelay" min="0" max="10000"
               @bind:event="oninput" @bind=NetworkRequestDelay />
    </label>
</div>


<div class="border border-1 shadow my-5 col-md-8 p-4 rounded">
    <h3>Send a Log</h3>
    <div class="d-flex flex-row">
        <input @bind="UserCommand" placeholder="Enter Command" class="input-group-text m-2" />
        <input @bind="UserKey" placeholder="Enter Key" class="input-group-text m-2" />
    </div>
    @foreach (KeyValuePair<Guid, NodeData> node in nodeDict)
    {
        <button class="btn btn-outline-primary m-3" @onclick="() => SendLog(node.Value.NodeId)">Send To @(FormatId(node.Value.NodeId))</button>
    }
    @if (!ClientSentLogSuccessfully)
    {
        <div class="alert alert-danger">Warning: Your command was sent to a follower node. Command was not applied.</div>
    }
    else
    {
        <p>Command applied successfully</p>
    }
</div>

<div class="row">
    @foreach (KeyValuePair<Guid , NodeData> node in nodeDict)
    {
        var timeoutRemaining = ((node.Value.WhenTimeStarted + TimeSpan.FromMilliseconds(node.Value.ElectionTimeout)) - DateTime.Now).TotalMilliseconds;
        var maxIntervalSeconds = 300 * Node.IntervalScalar;
        var percentageRemaining = (100 * (timeoutRemaining / (double)maxIntervalSeconds));


        <div class="p-3 col-4">
            <div class="border p-3 rounded-3">
                <div class="d-flex flex-column justify-content-between">
                    <h1>@(FormatId(node.Value.NodeId))</h1>
                    <div class="@StateClass(node.Value)">@node.Value.State</div>
                    <p>Election Timeout: @(@node.Value.ElectionTimeout) ms.</p>
                    <h2>Term #@node.Value.Term</h2>
                    <p>Leader Id: @(FormatId(node.Value.LeaderId))</p>
                    <div class="progress" role="progressbar"
                         aria-label="Basic example"
                         aria-valuenow=@(Math.Abs(timeoutRemaining) )
                         aria-valuemin="0"
                         aria-valuemax="@(maxIntervalSeconds)">
                        <div class="progress-bar bg-dark-subtle" style="width: @(percentageRemaining)%;"></div>
                    </div>
                    <hr />
                    <p>Commit Index: @node.Value.CommitIndex</p>
                    <div class="border-1 border-light m-2 p-2">
                        <strong>State Machine</strong>
                        <p>count: @node.Value.StateMachine.Count()</p> 
                         @foreach (var commitedEntry in node.Value.StateMachine)
                        {
                            <p>@commitedEntry.Index, @commitedEntry.Command, @commitedEntry.Key, @commitedEntry.TermReceived</p>
                        } 
                    </div>
                    <h4 />
                    <div class="mt-3">
                        <div>
                            @foreach (var l in node.Value.Entries)
                            {
                                @if (l.Index <= node.Value.CommitIndex)
                                {
                                    <p class="text-success">&check; index:@l.Index &nbsp; <i>"@l.Command @l.Key"</i> in term @l.TermReceived </p>
                                }
                                else
                                {
                                    <p class="text-danger">&#10005; index:@l.Index &nbsp; <i>"@l.Command @l.Key"</i> in term @l.TermReceived</p>
                                }
                            }
                        </div>
                        <hr />
                        <h4>Running: @node.Value.IsRunning</h4>
                        @if (node.Value.IsRunning)
                        {
                            <button @onclick="() => toggleNodeOnOff(node.Value.NodeId)" class="btn btn-outline-primary">|| Pause Node</button>
                        }
                       else
                        {
                            <button @onclick="() => toggleNodeOnOff(node.Value.NodeId)" class="btn btn-outline-success"> |> Play Node</button>
                        } 
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private string SecretsString = string.Empty;

    List<string> Urls = new();

    List<NodeData> nodes = new();

    public Dictionary<Guid, NodeData> nodeDict = new();

    private Timer? timer;

    public int NetworkRequestDelay = 0;

    private string UserCommand { get; set; } = "";
    private string UserKey { get; set; } = "";

    private bool ClientSentLogSuccessfully = true;

    protected override async Task OnInitializedAsync()
    {
        Node.IntervalScalar = 50; // trying to slow it down...
        SecretsString = Environment.GetEnvironmentVariable("NODE_URLS") ?? throw new Exception("Node urls not set");

        HttpClient client = new();
        Urls = SecretsString.Split(";").ToList();

        timer = new Timer(async _ =>
        {
            try
            {
                foreach (var url in Urls)
                {
                    var nodeStuff = await client.GetFromJsonAsync<NodeData>($"{url}/nodeData");
                    if (nodeStuff is null)
                    {
                        throw new Exception("Node stuff is null");
                    }
                    nodeStuff.Url = url;

                    nodeDict[nodeStuff.NodeId] = nodeStuff;
                }
            }
            catch (Exception e)
            {
                Console.WriteLine($"Exception, Something went wrong in Home.Razor in Docker Client {e.Message}");
            }
            await InvokeAsync(StateHasChanged);
        }, null, 0, 200);
    }


    string StateClass(NodeData node)
    {
        if (node.State == Node.NodeState.Leader)
        {
            return "bg-primary text-white p-1 rounded";
        }
        if (node.State == Node.NodeState.Candidate)
        {
            return "bg-success text-white p-1 rounded";
        }
        if (node.State == Node.NodeState.Follower)
        {
            return "bg-secondary text-white p-1 rounded";
        }
        return "";
    }

    public static string FormatMilliSeconds(double milliSeconds)
    {
        return $"{milliSeconds / 1000.0:F1}";
    }

    public static string FormatId(Guid id)
    {
        return id.ToString("N").Substring(0, 4);
    }

    async Task SendLog(Guid NodeId)
    {
        foreach (KeyValuePair<Guid, NodeData> n in nodeDict)
        {
            if (n.Value.NodeId == NodeId)
            {
                ClientCommandDto clientCommand = new(UserKey.ToString(), UserCommand.ToString());

                HttpClient client = new();
                await client.PostAsJsonAsync($"{n.Value.Url}/RecieveClientCommand", clientCommand);
            }
        }
    }

    async Task toggleNodeOnOff(Guid NodeId)
    {
        HttpClient client = new();

        foreach (var n in nodeDict)
        {
            if (n.Value.NodeId == NodeId)
            {
                ToggleNodeDto dto = new() { IsRunning = n.Value.IsRunning };
                await client.PostAsJsonAsync($"{n.Value.Url}/ToggleNode", dto);
            }
        }
    }
}
